/* vim: expandtab:ts=2:sw=2
*/
:root {
  --c1: #d9865d;
  --c2: #bba481;
  --c3: #879274;
  --c4: #645e72;
  --c5: #453a4f;
}

body {
  font-family: monospace;
  max-width: 100ch;
  margin: 1em auto;
  padding: 0 1ch;
}

a {
  color: var(--c4);
}

.colour-palette {
  width: 10ch;
  height: 2ch;
}

.colour-box {
  display: inline-block;
  width: 20%;
  height: 100%;
}

.colour-box-1 {
  background-color: var(--c1);
}
.colour-box-2 {
  background-color: var(--c2);
}
.colour-box-3 {
  background-color: var(--c3);
}
.colour-box-4 {
  background-color: var(--c4);
}
.colour-box-5 {
  background-color: var(--c5);
}

.super-container {  
  display: flex;
}

.side-column {
  width: 20%; 
  padding: 0 1rem;
}

.main-column {
  width: 80%;
}

.column-block {
  margin: 1ch 0;
  padding: 1ch;
  border: 1px solid var(--c4);
  border-radius: 1rem;
}
